.HeroComponent {
  height: 100vh;
  max-height: 600px;
  display: flex;
  background-color: hsl(0, 0%, 96%);
  // background-color: hsl(0, 0%, 100%);


  .text-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .text-div h1,
  .text-div p,
  .button-div {
    color: hsl(220, 16%, 62%);
    width: 60%;
    margin: 5px auto;
  }

  button {
    margin-top: 20px
  }

  .text-div {
    h1 {
      color: hsl(233, 26%, 24%);
      font-weight: 400;
      font-size: 50px;
    }
  }

  .text-div {
    p {
      font-size: 18px;
      line-height: 30px;
      margin-top: 30px
    }
  }

  @mixin background($imgPath, $position: -30px -210px, $repeat: no-repeat) {
    background: {
      image: url($imgPath);
      position: $position;
      repeat: $repeat;
    }
  }

  .image-div {
    @include background('./../../assets/images/bg-intro-desktop.svg');
    position: relative;
    // border: solid red 1px;

    img {
      width: 636px;
      margin-top: -62px;
      top: 28px;
      position: absolute;
      left: 160px;
    }
  }

  .image-div,
  .text-div {
    width: 50%;
    // border: solid 1px;
    min-width: 720px;
  }

  .flex-box {
    margin: 0 auto;
    display: flex;
  }

  @media (max-width: 1024px) {
    * {
      // color: red !important;
    }

    .text-div h1,
    .text-div p,
    .button-div {
      width: 80%;
    }

    .image-div,
    .text-div {
      width: 50%;
      border: solid 1px;
      min-width: 60px;
    }

    @mixin background($position: -30px -190px, ) {
      background: {
        position: $position;
      }
    }

    .image-div {
      background-size: 1240px;

      img {
        width: 590px;
        left: 110px;
      }
    }
  }

}